:root {
    --pale-blue: #C5E0FF;
    --lavender: #E0D0FF;
    --powder-pink: #FFD0E0;
    --mint: #B0FFC5;
    --white: #FFFFFF;
    --pale-gold: #FFF5C5;
    --dusky-purple: #A080A0;
}

* {
  margin: 0;
}

/* App  */

html {
  background-color: #E8E9EB;
}

h1 {
  color: var(--pale-blue);
}

/* Home CSS */
